################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Demo.Web/bin
/Demo.Web/obj/Debug
/packages
